.header {
  grid-column: 1 / span 8;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(38, 114, 126, 1);
  border-radius: 5px;
  /* color: white; */
}

.headerTitle {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(247, 241, 248);
  font-family: "Overpass", sans-serif;
}

.headerIcons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.headerIcons button span {
  color: white !important;
}

.headerAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  margin-left: 1rem;
}

.waves {
    position: relative;
    width: 100%;
    height:100%;
    top:50px;
}

.waves > div {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.wave1 {
    background: url(../public/wave1.png);
    background-size: 50% 100%;
    width: 100%;
    height: 50%;
}
.wave2 {
    background: url(../public/wave1.png);
    background-size: 50% 100%;
    width: 100%;
    height: 40%;
}

.wave3 {
    background: url(../public/wave2.png);
    background-size: 50% 100%;
    width: 100%;
    height: 50%;
}
.wave4 {
    background: url(../public/wave3.png);
    background-size: 50% 100%;
    width: 100%;
    height: 40%;
}



